
.row {
	display: flex;
}

.row > div[class*='col-'] {
	margin-top: 80px;
}

.masthead{
	margin: 0px; 
	background-color: #9C9CFF;
	height: 30px;
	display:flex;
	align-items: center;
	border-bottom: 1px solid black;
	float:right;
	width:100%;

}
.masthead-title{

}
.masthead-quicklinks{
	margin-left: auto;
	margin-right: 20px;
}
.masthead-util{
	margin-left: 30px;
	margin-right: auto;
}

content:after{
	content:"";
}