{% extends "website.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/floorcss.css') }}">

<div class="flex-container-main">
	{% for group in data["groups"] %}
		<div class="flex-container-item-group">
		<h3><u>{{group["title"]}}</u></h3>
		<table>
		<tr>
	  		<th>Device</th>
	  		<th>Data</th>
	  	</tr>
	  	{% for group_element in group["elements"] %}
	  		{% if group_element["type"] == "battery" %}
	  			<tr id="row|battery|{{group_element['id']}}">
	  			<td>{{group_element["title"]}} [{{group_element["id"]}}]</td>
	  			<td id="data|battery|{{group_element['id']}}">{{group_element["data"]}}</td>
	  		{% elif group_element["type"] == "timestamp" %}
	  			<tr id="row|timestamp|{{group_element['id']}}">
	  			<td>{{group_element["title"]}} [{{group_element["id"]}}]</td>
	  			<td id="data|timestamp|{{group_element['id']}}">{{group_element["data"]}}</td>
	  		{% else %}
	  			<tr id="row|{{group['sensor_type']}}|{{group_element['id']}}">
	  			<td>{{group_element["title"]}} [{{group_element["id"]}}]</td>
	  			<td id="data|{{group['sensor_type']}}|{{group_element['id']}}">{{group_element["data"]}}</td>
	  		{% endif %}
	  	</tr>
	  	{% endfor %}
	  	</table>
	 	</div>
	{% endfor %}
</div>
{% endblock %}