<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title> CVM Network</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/socket.io.dev.js') }}"></script>
        <!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" charset="utf-8">

			$(document).ready(function(){
				//alert("h")
				var socket = io.connect('http://' + document.domain + ':' + location.port + '/all');
	    		socket.on('connect', function() {
            		socket.emit('connect', {data: 'I\'m connected!'});
        		});
	        	socket.on("updateheader", function(data){
	        		//alert(data);
	        		var timetext = document.getElementById("masthead_time");
	        		timetext.innerHTML = data['time'];
	        	});

	    		var socket = io.connect('http://' + document.domain + ':' + location.port + '/data');
	    		//socket.on('connect', function() {
            	//	socket.emit('connect', {data: 'I\'m connected!'});
        		//});
	        	socket.on('updatepage', function(data){
	        		for (var i = 0; i < data.length; i++) {
	        			if(document.getElementById(data[i]['id'])){
	        				var ele = document.getElementById(data['id'])
	        				ele.innerHTML = data[i]['data']
	        			}
	        		}

	      		});
	        });
	        //setTimeout(function() {
    		//	location.reload();
			//}, 3000);
		</script>
	</head>
	<body>
		<header>
			<div class="header-element">
					<span style="float:left;"><p  id="masthead_time" style="color:white">{{data.header.masthead_time}}</p></span>
					{% if data.user.user_current %}
			 			<span id="masthead_usertitle" style="float:right;"><p>Hello {{data.user.user_current}} <a class="nav-link" href="{{url_for('logout')}}"> Logout</a></p></span>
			 		{%endif%}
			 </div>
			 <div class="masthead-floors"> 
				<ul>
				<div> 
					<li><a class="floor-links" href="{{url_for('serve_floor_first')}}">Floor 1</a> </li>
				</div>

				<div>
					<li><a class="floor-links" href="{{url_for('serve_floor_second')}}">Floor 2</a> </li>
				</div>

				<div>
					<li><a class="floor-links" href="{{url_for('serve_floor_third')}}">Floor 3</a></li>
				</div>

				<div>
					<li><a class="floor-links" href="{{url_for('serve_floor_basement')}}">Basement</a></li>
				</div>
				{% if data.user.user_permission == 'super' %}
				<div>
					<li><a class="floor-links" href="{{url_for('serve_config')}}">Configuration</a></li>
				</div>
				{% endif %}
				</ul>
			</div>
		</header>
		<main>
			<div class="container">
				{% block content %}{% endblock content %}
			</div>
		</main>
	</body>
</html>