<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title> CVM Network</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<!-- Bootstrap CSS -->
    	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    	<!-- Socketio -->
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<!--{{ url_for('static', filename='main.css') }}-->
	</head>
	<body>
		<header>
			<div class="header-element">
					<span id="masthead_time" style="float:left;">{{data.header.masthead_time}}</span>
					{% if data.user.user_current %}
			 			<span id="masthead_usertitle" style="float:right;">Hello {{data.user.user_current}} <a class="nav-link" href="{{url_for('logout')}}"> Logout</a></span>
			 		{%endif%}
			 </div>
			 <div class="masthead-floors"> 
				<ul>
				<div> 
					<li><a class="floor-links" href="{{url_for('serve_floor_first')}}">Floor 1</a> </li>
				</div>

				<div>
					<li><a class="floor-links" href="{{url_for('serve_floor_second')}}">Floor 2</a> </li>
				</div>

				<div>
					<li><a class="floor-links" href="{{url_for('serve_floor_third')}}">Floor 3</a></li>
				</div>

				<div>
					<li><a class="floor-links" href="{{url_for('serve_floor_basement')}}">Basement</a></li>
				</div>
				{% if data.user.user_permission == 'super' %}
				<div>
					<li><a class="floor-links" href="{{url_for('serve_config')}}">Configuration</a></li>
				</div>
				{% endif %}
				</ul>
			</div>
		</header>
		<main>
			<div class="container">
				{% block content %}{% endblock content %}
			</div>
		</main>
	</body>
</html>